---
import Layout from "../Layouts/Layout.astro";
import "../styles/blog.module.css";

import BlogNavbar from "../components/BlogNavbar.astro";
import PageLayout from "../components/Layouts/PageLayout.astro";
import { projects, CLIENT_ROUTES } from "../data";
import Card from "../components/Card.astro";
const posts = await Astro.glob("../posts/*.md");
---

<Layout title="Projects">
  <PageLayout>
    <section>
      <BlogNavbar />
      <div class="flex justify-center items-start my-20">
        <div class="container text-gray-400 lg:px-5 pb-7">
          <div class="mb-7">
            <h2 class="text-gray-200 text-2xl md:text-3xl font-[600]">
              Projects
            </h2>
            <p
              class="text-gray-400 leading-[30px] monserrat tracking-wider lg:text-center xl:text-start"
            >
              In my free time, I enjoy <span class="text-brand-100"
                >building</span
              > projects that I find interesting or genuinely useful—often as a way
              to explore new ideas, deepen my understanding of certain technologies,
              or solve problems that caught my attention. Below are a few examples;
              you can find more experimental and side projects on my <span
                class="text-brand-100"
                ><a href={CLIENT_ROUTES.socials.github}>GitHub.</a>
              </span>
            </p>
          </div>

          <div class="w-full flex justify-center py-7">
            <div class="w-full flex flex-wrap gap-7 justify-start">
              {
                projects.map((item) => (
                  <Card
                    title={item.name}
                    desc={item.desc}
                    img={`../projects/${item.img}`}
                    url={item.url}
                    src={item.github}
                  />
                ))
              }
            </div>
          </div>
        </div>
      </div>
    </section>
  </PageLayout>
</Layout>
