---
import { playground, CLIENT_ROUTES } from "../data";
import Card from "./Card.astro";
import PageLayout from "./Layouts/PageLayout.astro";
---

<PageLayout>
  <section id="projects">
    <div class="w-full py-3">
      <hr class="border-gray-600 my-10" />

      <div class="w-full flex justify-center">
        <div class="w-full">
          <div>
            <h2 class="text-gray-400 text-2xl text-start mb-5">Playground</h2>
            <p
              class="text-gray-400 leading-[30px] monserrat tracking-wider lg:text-center xl:text-start"
            >
              I love <span class="blue-text">building</span> things, and I’ve spent
              a lot of my free time doing just that. Over time, I’ve worked on projects
              of varying complexity—some complete, some still in progress. They span
              personal experiments, learning projects, and work-related ideas. A
              selection of them can be found here.
            </p>
          </div>
        </div>
      </div>

      <div class="w-full flex justify-center py-7">
        <div class="w-full flex flex-wrap gap-7 justify-start">
          {
            playground.map((item) => (
              <Card
                title={item.name}
                desc={item.desc}
                img={`../projects/${item.img}`}
                url={item.url}
                src={item.github}
              />
            ))
          }
        </div>
      </div>
    </div>
  </section>
</PageLayout>
