---
import { projects, CLIENT_ROUTES } from "../data";
import Card from "./Card.astro";
import PageLayout from "./Layouts/PageLayout.astro";
import { Icon } from "astro-icon/components";

const projectsList = projects.slice(0, 4);
---

<PageLayout>
  <section id="projects">
    <div class="w-full py-3">
      <hr class="border-gray-600 my-10" />

      <div class="w-full flex justify-center">
        <div class="w-full">
          <div>
            <h2 class="text-gray-400 text-2xl text-start mb-5">Projects</h2>
            <p
              class="text-gray-400 leading-[30px] monserrat tracking-wider lg:text-center xl:text-start"
            >
              In my free time, I enjoy <span class="blue-text">building</span> projects
              that I find interesting or genuinely useful—often as a way to explore
              new ideas, deepen my understanding of certain technologies, or solve
              problems that caught my attention. Below are a few examples; you can
              find more experimental and side projects on my <span
                class="blue-text"
                ><a href={CLIENT_ROUTES.socials.github}>GitHub.</a>
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="w-full flex justify-center py-7">
        <div class="w-full flex flex-wrap gap-7 justify-start">
          {
            projectsList.map((item) => (
              <Card
                title={item.name}
                desc={item.desc}
                img={`../projects/${item.img}`}
                url={item.url}
                src={item.github}
              />
            ))
          }
        </div>
      </div>

      <div class="w-full text-end">
        <a
          class="flex items-center justify-end text-gray-400 gap-x-2"
          href={CLIENT_ROUTES.projects}
        >
          <span class="font-mono text-sm"> View All Projects</span>
          <Icon name="mdi:arrow-right-thin" size="24" class="animate-pulse" />
        </a>
      </div>
    </div>
  </section>
</PageLayout>
