---
import { projects } from "../data";
import Card from "./Card.astro";
import PageLayout from "./Layouts/PageLayout.astro";
---

<PageLayout>
  <section id="projects">
    <div class="w-full py-3">
      <hr class="border-gray-600 my-10" />

      <div class="w-full flex justify-center">
        <div class="w-full">
          <div>
            <h2 class="text-gray-400 text-2xl text-start mb-5">Projects</h2>
            <p
              class="text-gray-400 leading-[30px] monserrat tracking-wider text-center xl:text-start"
            >
              During my free time, I like to <span class="blue-text">build</span
              > things that I find interesting and/or would use; sometimes to learn
              more about something or just to fix a problem that's particularly frustrated
              me enough at that point in time. Here are a couple of them, you can
              find other random things I build on my <span class="blue-text">
                <a href="https://github.com/CharlesChinedum"> Github</a>
              </span>
              page.
            </p>
          </div>
        </div>
      </div>

      <div class="w-full flex justify-center py-7">
        <div class="w-full flex flex-wrap gap-7 justify-start">
          {
            projects.map((item) => (
              <Card
                title={item.name}
                desc={item.desc}
                img={`../projects/${item.img}`}
                url={item.url}
                src={item.github}
              />
            ))
          }
        </div>
      </div>
    </div>
  </section>
</PageLayout>
