---
import { futureTools, tools, tools2, tools3 } from "../data";
import Tool from "./Tool.astro";
---

<section>
  <div class="w-full py-3 px-5 xl:px-[15em]">
    <hr class="border-gray-600" />

    <div class="w-full flex justify-center">
      <div class="py-10 xl:w-3/4">
        <h2 class="text-gray-200 text-2xl pb-3 text-center">Tools</h2>
        <p
          class="text-gray-400 leading-[30px] monserrat tracking-wider text-center xl:text-start"
        >
          My primary stack includes Javascript & Typescript (Next + Astro +
          React on the front-end). I have listed some of the <span
            class="blue-text">languages/tools</span
          > I have used or still use below (not *really* including frameworks).
        </p>
      </div>
    </div>

    <div class="w-full flex justify-center md:mb-5">
      <div
        class="flex flex-wrap gap-5 md:gap-40 w-full md:w-3/4 justify-between md:justify-start"
      >
        <div class="">
          {tools.map((item) => <Tool title={item.title} icon={item.icon} />)}
        </div>
        <div class="">
          {tools2.map((item) => <Tool title={item.title} icon={item.icon} />)}
        </div>
        <div>
          {tools3.map((item) => <Tool title={item.title} icon={item.icon} />)}
        </div>
      </div>
    </div>

    <div class="w-full flex justify-center">
      <div
        class="w-full md:w-3/4 border-[1px] border-gray-600 rounded-2xl my-5 md:my-0 p-5"
      >
        <p class="text-gray-400 mb-3">
          {"->"} Other things I am currently learning, intend to take a deeper dive
          into or get started with at some point in the future
        </p>
        <div class="flex gap-5">
          {
            futureTools.map((item) => (
              <Tool title={item.title} icon={item.icon} />
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
